body {
  background: #191919;
}

h1 {
  text-align: center;
  color: orange;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  width: 80%;
  background: #555555;
  outline: none;
  height: 50px;
  font-size: 34px;
  border-radius: 5px;
  color: orange;
  text-align: center;
}


button {
  background: linear-gradient(gold, orange);
  height: 50px;
  border-radius: 5px;
  width: 90%;
  display: block;
  margin: 0 auto;
  color: rgb(84 84 84);
  font-size: 30px;
  font-weight: bold;
  outline: none;
}

button:active {
  background: orange;
}

p {
  text-align: center;
  color: #8b8b8b;
}

.result {
  display: none;
}

.result .column p {
  color: orange;
  font-size: 40px;
  margin: 0;
}

.result > p {
  font-size: 32px;
  margin: 0;
}

.result .row {
  gap: 50px;
}